__pycache__/
.ipynb_checkpoints/
*.pyc
.env
.venv/
venv/
.DS_Store
.vscode/

data/*.csv
data/*.parquet
data/*.db
data/03_hold_difficulty/*.csv
data/04_climb_features/*.csv
data/05_predictive_modelling/*.csv
data/06_deep_learning/*.csv
data/06_deep_learning/*.npy
models/*.pth
models/*.pkl
models/*.csv

BLOG.md
